<html>
    <head>
        <link rel='stylesheet' href='wordle_part1.css'>
    </head>
    <body>
        <h1 align="center"> WORDLE </h1>
        <div class="grid-container">
            <div class="green-box"> S </div>
            <div class="grey-box"> T </div>
            <div class="grey-box"> E </div>
            <div class="yellow-box"> A </div>
            <div class="grey-box"> M </div>
        </div>

        <div class="grid-container">
            <div class="green-box"> S </div>
            <div class="grey-box"> O </div>
            <div class="grey-box"> U </div>
            <div class="grey-box"> N </div>
            <div class="grey-box"> D </div>
        </div>

        <div class="grid-container">
            <div class="green-box"> S </div>
            <div class="green-box"> C </div>
            <div class="yellow-box"> R </div>
            <div class="yellow-box"> A </div>
            <div class="grey-box"> P </div>
        </div>

        <div class="grid-container">
            <div class="green-box"> S </div>
            <div class="green-box"> C </div>
            <div class="green-box"> A </div>
            <div class="green-box"> R </div>
            <div class="green-box"> Y </div>
        </div>

        <div class="grid-container"> 
            <div class="empty-box">  </div>
            <div class="empty-box">  </div>
            <div class="empty-box">  </div>
            <div class="empty-box">  </div>
            <div class="empty-box">  </div>
        </div>

        <div class="grid-container"> 
            <div class="empty-box">  </div>
            <div class="empty-box">  </div>
            <div class="empty-box">  </div>
            <div class="empty-box">  </div>
            <div class="empty-box">  </div>
        </div>

        <p> </p>

        <div class="key-container"> 
            <div class="key-light-grey"> Q </div>
            <div class="key-light-grey"> W </div>
            <div class="key-grey"> E </div>
            <div class="key-green"> R </div>
            <div class="key-grey"> T </div>
            <div class="key-green"> Y </div>
            <div class="key-grey"> U </div>
            <div class="key-light-grey"> I </div>
            <div class="key-grey"> O </div>
            <div class="key-grey"> P </div>
        </div>

        <div class="key-container"> 
            <div class="key-green"> A </div>
            <div class="key-green"> S </div>
            <div class="key-grey"> D </div>
            <div class="key-light-grey"> F </div>
            <div class="key-light-grey"> G </div>
            <div class="key-light-grey"> H </div>
            <div class="key-light-grey"> J </div>
            <div class="key-light-grey"> K </div>
            <div class="key-light-grey"> L </div>
        </div>

        <div class="key-container"> 
            <div class="key-utility"> ENTER </div>
            <div class="key-light-grey"> Z </div>
            <div class="key-light-grey"> X </div>
            <div class="key-green"> C </div>
            <div class="key-light-grey"> V </div>
            <div class="key-light-grey"> B </div>
            <div class="key-grey"> N </div>
            <div class="key-grey"> M </div>
            <div class="key-utility"> ⌫ <div>
        </div>


<script src="js/wordleModel.js"></script>
<script src="js/wordleView.js"></script>
<script src="js/wordleController.js"></script>
<script src="js/wordle.js"></script>

    </body>
</html>

